image:
  repository: cr.fluentbit.io/fluent/fluent-bit
  tag: "2.2.0"
tolerations:
- operator: Exists
serviceMonitor:
  enabled: true
config:
  service: |
{%- raw %}
    [SERVICE]
        daemon off
        flush {{ .Values.flush }}
        log_level {{ .Values.logLevel }}
        parsers_file parsers.conf
        parsers_file custom_parsers.conf
        http_server on
        http_listen 0.0.0.0
        http_port {{ .Values.metricsPort }}
        health_check on
        storage.path /var/log/flb-storage/
        storage.sync normal
        storage.checksum off
        storage.backlog.mem_limit 5M
{% endraw %}
  inputs: |
    [INPUT]
        name tail
        storage.type filesystem
        path /var/log/containers/*.log
        multiline.parser docker, cri
        tag kube.*
        mem_buf_limit 5MB
        skip_long_lines on
        threaded on
  outputs: |
{% if loki_host is defined %}
    [OUTPUT]
        name loki
        match kube.*
        storage.total_limit_size 5M
        host {{ loki_host }}
        port {{ loki_port }}
{% if loki_tls is defined %}
        tls on
        tls.verify on
{% endif %}
        labels cluster={{ cluster_arn.split('/')[1] }}, namespace=$kubernetes['namespace_name'], node_name=$kubernetes['host'], pod=$kubernetes['pod_name'], container=$kubernetes['container_name']
        auto_kubernetes_labels on
{% endif %}
{% if forward_host is defined %} 
    [OUTPUT]
        name forward
        match kube.*
        storage.total_limit_size 5M
        host {{ forward_host }}
        port {{ forward_port }}
{% endif %}
{% if opentelemetry_host is defined %}
    [OUTPUT]
        name opentelemetry
        match kube.*
        storage.total_limit_size 5M
        host {{ opentelemetry_host }}
        port {{ opentelemetry_port }}
        metrics_uri /v1/metrics
        logs_uri /v1/logs
        traces_uri /v1/traces
        log_response_payload true
{% if opentelemetry_tls is defined %}
        tls on
        tls.verify on
{% endif %}
        add_label cluster {{ cluster_arn.split('/')[1] }}
{% endif %}