nodeSelector:
  team: devops
  service: devops-infra
  performance_type: standard
image:
  repository: k8s.gcr.io/external-dns/external-dns
domainFilters: {{ domain_filters | to_json }}
txtOwnerId: "{{ hosted_zone_id }}"
serviceMonitor:
  enabled: true