nodeSelector:
  kubernetes.io/arch: amd64
  team: devops
  service: devops-infra
  performance_type: standard
image: docker.elastic.co/kibana/kibana-oss
service:
{% if certificate_arn is defined %}
  type: NodePort
{% else %}
  type: ClusterIP
{% endif %}
ingress:
  enabled: true
  annotations:
{% if certificate_arn is defined %}
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internal
    alb.ingress.kubernetes.io/certificate-arn: "{{ certificate_arn }}"
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}, {"HTTPS": 443}]'
    alb.ingress.kubernetes.io/tags: "Team=devops,Server=etc,Service=kibana,Security_level=moderate,Environment={{ env }}"
    alb.ingress.kubernetes.io/security-groups: "{{ security_group_id }}"
    alb.ingress.kubernetes.io/ssl-redirect: '443'
  path: "/*"
{% else %}
    nginx.ingress.kubernetes.io/ssl-redirect: 'true'
  path: "/"
{% endif %}
  hosts:
  - "{{ server_host }}"
elasticsearchHosts: {{ elasticsearch_hosts | to_json }}