apiVersion: v1
kind: Secret
metadata:
  name: thanos-objstore-secret
type: Opaque
stringData:
  objstore.yml: |
    type: S3
    config:
      bucket: "{{ s3_bucket }}"
{% if s3_endpoint is defined %}
      endpoint: "{{ s3_endpoint }}"
      access_key: "{{ s3_accesskey }}"
      secret_key: "{{ s3_secretkey }}"
      insecure: true
      signature_version2: false
{% else %}
      endpoint: "s3.amazonaws.com"
      region: ap-northeast-2
{% endif %}