nodeSelector:
  team: devops
  service: devops-infra
  performance_type: standard
image:
  repo: docker.io/library/telegraf
config:
  agent:
    interval: "60s"
    round_interval: true
    metric_batch_size: 1000
    metric_buffer_limit: 10000
    collection_jitter: "0s"
    flush_interval: "10s"
    flush_jitter: "0s"
    precision: ""
    debug: false
    quiet: true
    logfile: ""
    hostname: "$HOSTNAME"
    omit_hostname: true
  outputs:
  - prometheus_client:
      listen: ":9273"
  inputs:
  - statsd:
      service_address: ":8125"
      percentiles:
      - 90
      percentile_limit: 1000
metrics:
  internal:
    collect_memstats: true