nodeSelector:
  team: devops
  service: devops-infra
  performance_type: standard
region: ap-northeast-2
accountId: "{{ cluster_arn.split(':')[4] }}"
image:
  repository: 602401143452.dkr.ecr.ap-northeast-2.amazonaws.com/amazon/appmesh-controller
sidecar:
  image:
    repository: 840364872350.dkr.ecr.ap-northeast-2.amazonaws.com/aws-appmesh-envoy
init:
  image:
    repository: 840364872350.dkr.ecr.ap-northeast-2.amazonaws.com/aws-appmesh-proxy-route-manager
tracing:
  enabled: true
  provider: jaeger
  address: grafana-agent.observability
  port: 19411