nodeSelector:
  kubernetes.io/arch: amd64
  team: devops
  service: devops-infra
  performance_type: standard
global:
  imageRegistry: docker.io
auth:
  rbac:
    create: false
replicaCount: 3
autoCompactionRetention: "1"
metrics:
  enabled: true
  podMonitor:
    enabled: true
    namespace: ""